@import "../App.scss";

.projectsSectionContainer {
  // background-color: $bgColor;
  color: $secondary;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;

  h2 {
    color: $secondary;
  }
}

.projectsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.project {
  align-self: center;
  margin: 5vw;
}
