@import "../App.scss";

.video-responsive {
    overflow: hidden;
    align-self: center;
    padding-bottom: 5vw;
    width: 100%;
}

// .video-responsive iframe {
//     left: 0;
//     top: 0;
//     height: 100%;
//     width: 100%;
//     position: absolute;
//   }