@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

$bgColor: #313440;
$main: #66fcf1;
$secondary: #c5c6c7;

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 2000px; // delete later
  background-color: $bgColor;
}

h1 {
  color: $main;
  font-size: 10vw;
  font-family: "Kaushan Script", cursive;
}

p {
  color: $secondary;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
